.odyssey-value-error {
  background-color: hsl(0, 90%, 90%);
}
.odyssey-font-preview {
  border-left: .252rem solid var(--fieldset-border);
  padding-left: .5rem;
}
#header_image-src {
  max-width: 100%;
}
#header_image-retina {
  margin-bottom: 1em;
}
#odyssey-backups {
  margin-top: 4em;
}
