#theme_config h3 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}
#theme_config .fieldset h4:not(:first-child) {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#theme_config input[type="checkbox"] + label {
  cursor: pointer;
}
#theme_config :is(select, textarea) {
  padding: .5rem;
}
#header_image-src {
  display: block;
  margin: 1rem 0;
  max-width: 200px;
  max-height: 200px;
}
#origine-mini-message-js summary {
  cursor: pointer;
}
