#theme-config-links {
  list-style: none;
  margin-inline: 0;
  padding-inline: 0;
}
#theme-config-links li:not(:last-child) {
  margin-bottom: 1rem;
}
.theme-config-icon {
  height: auto;
  width: 2rem;
}
#theme-config-form h3 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}
#theme-config-form .fieldset h4:not(:first-child) {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#theme-config-form input[type="checkbox"] + label {
  cursor: pointer;
}
#theme-config-form :is(select, textarea) {
  padding: .5rem;
}
#header_image-src {
  display: block;
  margin: 1rem 0;
  max-width: 200px;
  max-height: 200px;
}
#odyssey-message-js summary {
  cursor: pointer;
}
.odyssey-value-error {
  background-color: hsl(0, 90%, 90%);
}
