:root {
  --color-background: hsl(var(--color-h), 75%, 99%);
  --color-text-primary: hsl(var(--color-h), 0%, 0%);
  --color-text-secondary: hsl(var(--color-h), 0%, 50%);
  --color-link: hsl(var(--color-h), 100%, 40%);
  --color-link-hover: hsl(var(--color-h), 100%, 50%);
  --color-border: hsl(var(--color-h), 0%, 75%);
  --color-input-text: hsl(var(--color-h), 0%, 0%);
  --color-input-text-hover: hsl(var(--color-h), 0%, 100%);
  --color-input-background: hsl(var(--color-h), 0%, 95%);
  --color-input-background-hover: hsl(var(--color-h), 0%, 0%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(var(--color-h), 100%, 5%);
    --color-text-primary: hsl(var(--color-h), 0%, 95%);
    --color-text-secondary: hsl(var(--color-h), 0%, 60%);
    --color-link: hsl(var(--color-h), 100%, 75%);
    --color-link-hover: hsl(var(--color-h), 100%, 85%);
    --color-border: #aaa;
    --color-input-text: #d9d9d9;
    --color-input-text-hover: #16161d;
    --color-input-background: #333333;
    --color-input-background-hover: #d9d9d9;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 4em 0;
}

/* Structure */
#site {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--page-width);
  row-gap: 4rem;
}
#site-header {
  align-items: baseline;
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
}
#site-content {
  order: var(--order-content);
}
#blognav {
  order: var(--order-widgets-nav);
}
#blogextra {
  order: var(--order-widgets-extra);
}
#site-footer {
  font-size: .8em;
  order: var(--order-footer);
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/* START - Common styles */
p {
  margin: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}
:where(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: .9em;
}
h5 {
  font-size: .8em;
}
h6 {
  font-size: .7em;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
small {
  font-size: .8em;
}
del {
  text-decoration: underline;
}
mark {
  background-color: #fbf7a6;
}
blockquote {
  border-left: .063rem solid var(--color-border);
  margin: 1rem 0 1rem 1rem;
  padding: 0 0 0 .5rem;
}
code,
pre {
  background-color: var(--color-input-background);
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  font-size: 1em;
  white-space: pre-wrap;
}
pre {
  display: block;
  margin: 1em 0;
  padding: .5em;
}
code {
  display: inline;
}

/* Text content styles */
.text {
  line-height: 1.5;
  text-align: var(--text-align);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.text hr {
  border: 0;
  margin: 2em 0;
  text-align: center;
}
.text hr::after {
  color: var(--color-text-primary);
  content: "\002042"; /* ⁂ */
}
:where(.text, .widget) :where(ul, ol) {
  display: table;
  margin: 1em 0;
  padding-inline-start: 0;
}
:where(.text, .widget) ol {
  counter-reset: list;
}
:where(.text, .widget) :where(ol ol, ul ul) {
  margin: .5rem 0;
}
:where(.text, .widget) :where(ul li, ol li) {
  display: table-row;
}
:where(.text, .widget) ul li {
  margin: .5rem 0;
}
:where(.text, .widget) ol li {
  counter-increment: list;
  display: table-row;
  list-style: none;
}
:where(.text, .widget) :where(ul li, ol li)::before {
  display: table-cell;
  padding-right: .25rem;
}
:where(.text, .widget) ul li::before {
  content: "\2022"; /* • */
}
:where(.text, .widget) ol li::before {
  content: counter(list) ".";
}

/* Images & media */
figure {
  margin: 1em 0;
}
figure p {
  font-size: .8em;
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}
img.media {
  display: block;
}

/* Forms */
input,
textarea {
  background-color: var(--color-input-background);
  border: .063rem solid var(--color-border);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--color-input-text);
  font-family: inherit;
  font-size: 1em;
  max-width: 100%;
  padding: .5em;
}
input[type="submit"]:disabled {
  color: var(--color-text-secondary);
}
input[type="submit"]:active:disabled,
input[type="submit"]:focus:disabled,
input[type="submit"]:hover:disabled {
  background-color: var(--color-input-background);
  border-color: var(--color-border);
  color: var(--color-text-secondary);
  cursor: default;
}
button {
  font-family: inherit;
  font-size: 1em;
  margin: 0;
}
button,
.button {
  border: .063rem solid var(--color-border);
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
}
input[type="submit"],
.form-submit,
.button {
  background-color: var(--color-input-background);
  color: var(--color-input-text);
  padding-top: .25em;
  padding-bottom: .25em;
}
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover,
.form-submit:active,
.form-submit:focus,
.form-submit:hover {
  background-color: var(--color-input-background-hover);
  border-color: var(--color-input-background-hover);
  color: var(--color-input-text-hover);
  cursor: pointer;
}
textarea {
  width: 100%;
}
.form-entry {
  margin-bottom: .5rem;
}
.form-entry:last-of-type {
  margin-bottom: 0;
}
.form-entry label {
  display: block;
  font-size: .8em;
  margin-bottom: .25rem;
}
.form-info {
  font-size: .8em;
}
label:hover {
  cursor: pointer;
}
/* END - Common styles */

/* Header */
#site-title {
  background-color: var(--color-link);
  color: var(--color-background);
  display: block;
  font-size: 1em;
  margin: 0 auto 0 0;
  padding: .5em;
}
#site-title a {
  color: inherit;
  display: block;
}
#main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu li {
  display: inline;
  margin-left: .25rem;
}

/**
 * Post list
 */ 
.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-list .post {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.post-list .post:last-child {
  margin-bottom: 0;
}
.post-list .post-title {
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto 0 0;
}
.post-list .post-date {
  display: block;
  margin-left: 1rem;
  text-align: right;
}

/**
 * Full posts
 */
.post-header {
  margin-bottom: 2rem;
}
.post-footer {
  margin-top: 2rem;
}
.post-meta {
  margin: .5rem 0;
}
#post-single-excerpt {
  margin-bottom: 2rem;
  font-weight: 700;
}
#post-single-excerpt strong {
  font-weight: 900;
}

.post-pagination {
  display: flex;
  margin-top: 4rem;
}
.post-pagination-title {
  margin-bottom: .25rem;
}
.post-pagination-next,
.post-pagination-prev {
  width: 50%;
}
.post-pagination-prev {
  padding-right: .5rem;
}
.post-pagination-next {
  margin-left: auto;
  padding-left: .5rem;
  text-align: right;
}
.post-pagination-link-container {
  font-style: italic;
}

/**
 * Reactions
 */
.reactions-block {
  margin-top: 4rem;
}
#reactions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comment-form {
  margin-top: 4rem;
}
.reaction {
  margin: 2rem 0;
}
.comment {
  border-left: .063rem solid var(--color-border);
  padding-left: 1rem;
}
.comment-author {
  font-style: normal;
  font-weight: 700;
}
.comment-date,
.ping-date {
  font-size: .9em;
}

/**
 * Search
 */
.content-info {
  margin-bottom: 2rem;
}
#page-search-form-input {
  width: 100%;
}

/**
 * Archives
 */
#nav-archive {
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**
 * Pagination
 */
.pagination {
  margin-top: 2rem;
}
.page-numbers {
  display: block;
  text-align: center;
}
.page-current {
  font-weight: 700;
}
.pagination-links {
  display: flex;
  justify-content: space-between;
  margin-top: .25rem;
}
.pagination-links a {
  display: block;
}
.page-next {
  margin-left: auto;
}

/**
 * Widgets
 */
aside .widget {
  margin-bottom: 2rem;
}
aside .widget:last-child {
  margin-bottom: 0;
}
#site-footer :where(.widget, .site-footer-block) {
  margin-bottom: 1rem;
}
#site-footer :where(.widget, .site-footer-block):last-child {
  margin-bottom: 0;
}
.widget h2 {
  font-size: calc();
}

/**
 * Small screen specific styles.
 */
@media (max-width: 34em) { 
  #site {
    row-gap: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 100%;
  }
  #site-header {
    align-items: normal;
    flex-direction: column;
    justify-content: unset;
    row-gap: .5rem;
  }
  #main-menu,
  #main-menu li:first-child {
    margin-left: 0;
  }
  .post-list .post {
    row-gap: .25rem;
    flex-direction: column;
  }
  .post-comment-link {
    order: 3;
  }
  .post-list .post-title {
    margin-right: 0;
    order: 2;
  }
  .post-list .post-date {
    margin-left: 0;
    order: 1;
    text-align: initial;
  }
  #nav-archive {
    column-gap: 1rem;
    display: block;
    flex-direction: column;
    justify-content: unset;
  }
  #nav-archive a {
    display: block;
    margin: .25rem 0  ;
  }
  .pagination-links {
    display: block;
    justify-content: unset;
    text-align: center;
  }
}